<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<!-- https://rizkimufrizal.gitbooks.io/ebook-hibernate-spring/content/07-implementasi-project-spring-dan-hibernate/membuat-konfigurasi-hibernate-dan-spring.html -->
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibermate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<mapping class="com.andimalik.tasklister.model.entities.Task" />
	</session-factory>
</hibernate-configuration>
